<h2>Add Message <% VERSION %></h2>

<form method='post' action='/add-msg'>
comment: <input type='text' name='comment'><br>
<textarea name='msg' rows='30' cols='40'></textarea><br>
<input type='submit' value='add'>
</form>

