<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>BOT0</title>
</head>
<body>
  <div class="container">
    <p>== BOT0 ==</p>
    <%= yield %>
    <hr>
    hiroshi . kimura . 0331 @ gmail . com, <%= VERSION %>.
  </div>
</body>
</html>
