<form method='post' action='/push-test'>
<input type='hidden' name='id' value='<%= @id %>'>

<h3>Message</h3>
<p>
  <input value='<%= @comment %>'>
  <a href='/msg-select' class='btn btn-primary btn-sm'>select...</a>
</p>



<hr>

<h3>Receivers</h3>

<p>
  <% @users.each do |u| %>
  <input type='checkbox' name='user[]' value='<%= u[:id] %>' checked='checked'><%= u[:name] %>
  <% end %>
</p>
<p>
  <a class='btn btn-primary btn-sm' href='/add-receiver'>add...</a>
</p>

<hr>

<p><input type='submit' class="btn btn-primary" value='PUSH'></p>

</form>

<hr>

<p><a href="/upload" class='btn btn-success'>Upload image</a></p>

<hr>
<ul>
  <li>message not selected の表示は送信するメッセージを選択していない状態。
    select...から送信メッセージを選ぶ。</li>
  <li>レシーバーを選んで、PUSH で送信。</li>
  <li>Upload Image は後日修正。ローカルファイル名とは別の名前でサーバに保存、
  その画像ファイルの内容を表すコメントを表示する予定です。</li>
</ul>