<form method='post' action='/push-test'>
<input type='hidden' name='id' value='<%= @id %>'>

<h3>Message</h3>
<p>
  <input value='<%= @comment %>'>
  <a href='/msg-select' class='btn btn-primary btn-sm'>select...</a>
</p>

<p><a href='/msg-add' class='btn btn-primary'>add...</a></p>

<hr>

<h3>Receivers</h3>

<p>
  <% @users.each do |u| %>
  <input type='checkbox' name='user[]' value='<%= u[:id] %>' checked='checked'><%= u[:name] %>
  <% end %>
</p>
<p>
  <a class='btn btn-primary btn-sm' href='/add-receiver'>add...</a>
</p>

<hr>

<p><input type='submit' class="btn btn-primary" value='PUSH'></p>

</form>

<hr>


<p><a href="/upload" class='btn btn-success'>Upload image</a></p>